		<header>
			<div class="header-inner">

				<ul class="smartmenu">
					<!-- Responsive toggle -->
					<li class="sm-responsive-toggle">
						<span>Menu</span>
					</li>
					
					<!-- Simple item -->
					<li class="sm-active">
						<a href="/"><i class="fas fa-home"></i>首页</a>
					</li>
					
					<li>
						<a>解决方案<i class="sm-caret fas fa-angle-down"></i></a>
						
						<ul data-sm-size="200">
						
							<li>
								<a>云端版</a>	
							</li>
							
							<li>
								<a>教育版</a>	
							</li>
							
							<li>
								<a>企业版</a>	
							</li>
							<li>
								<a>物联网版</a>	
							</li>
							<li>
								<a>OEM版</a>	
							</li>
							<li>
								<a><i class="sm-caret fas fa-angle-right"></i>插件</a>
								
								<ul data-sm-size="200">
									<li><a>wordpress</a></li>
									<li><a>opencart</a></li>
									<li><a>magento</a></li>
									<li><a>prestashop</a></li>
									<li><a>网页插件</a></li>
									<li><a>laravel</a></li>		
									<li><a>springboot</a></li>					
								</ul>
								
							</li>
							
							
						</ul>
						
					</li>
					
					<li>
						<a>文档<i class="sm-caret fas fa-angle-down"></i></a>
						
						<ul data-sm-size="200">
							<li><a href="#">快速入门</a></li>
							<li>
								<a><i class="sm-caret fas fa-angle-right"></i>安装</a>
								
								<ul data-sm-size="200">
									<li><a>docker</a></li>
									<li><a>windows</a></li>
									<li><a>mac</a></li>	
									<li><a>liunx</a></li>			
								</ul>
								
							</li>
							<li><a href="#">管理员</a></li>
						</ul>
						
					</li>
					
					
					<!-- Flyout / Start -->
					<li>
						<a>产品<i class="sm-caret fas fa-angle-down"></i></a>
						
						<ul data-sm-size="200">
							
							<li>
								<a><i class="sm-caret fas fa-angle-right"></i>EffectTalk</a>
								
								<ul data-sm-size="200">
								
									<li><a>EffectTalk Server</a></li>
									<li><a>EffectTalk Android</a></li>
									<li><a>EffectTalk IOS</a></li>
									<li><a>EffectTalk Window</a></li>
									<li><a>EffectTalk Mac</a></li>
									<li><a>EffectTalk liunx</a></li>
										
															
								</ul>
								
							</li>

							
							<li><a href="#">ETalk</a></li>
						</ul>
						
					</li>
					
					<li>
						<a>服务</a>
					</li>
					
					<li>
						<a>文档</a>
					</li>
					
					<li>
						<a>团队</a>
					</li>
				
					<li>
						<a>社区</a>
					</li>

					<!-- Social -->
					<li class="sm-right-item sm-social googleplus">
						<a href="https://plus.google.com/"><i class="sm-single-icon fab fa-github"></i></a>
					</li>					
					
				</ul>
			</div>
		</header>